@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  section {
    @apply px-4 md:px-8 lg:px-16 py-2 md:py-4 lg:py-8;
  }
  nav {
    @apply px-4 md:px-8 lg:px-24 py-3 md:py-2 lg:py-2;
  }
}
.font-cursive {
  font-family: "Cedarville Cursive", cursive;
}
